/inst/app/Results/Outlier/Detecting outlier in each Year for Height.pdf
/inst/app/Results/Outlier/Detecting outlier in each Year for Height.png
/inst/app/Results/Outlier/Detecting outlier in each Year for Maturity.pdf
/inst/app/Results/Outlier/Detecting outlier in each Year for Maturity.png
/inst/app/Results/Outlier/Detecting outlier in each Year for Seedweight.png
/inst/app/Results/Outlier/Detecting outlier in each Year for Yield.pdf
/inst/app/Results/Outlier/Detecting outlier in each Year for Yield.png
/inst/app/Results/output.r
/inst/app/Results/output.txt
/inst/app/Results/Blue/Summary of Model.txt
/inst/app/Results/Blue/Untitled -- Line based BLUE value for Yield.csv
/inst/app/Results/Blue/Untitled -- MM_Sresid.pdf
/inst/app/Results/Blue/Untitled -- MM_Sresid.png
/inst/app/Results/Blue/Untitled -- Predicted vs Residual.pdf
/inst/app/Results/Blue/Untitled -- Predicted vs Residual.png
/inst/app/Results/Blue/Untitled -- Raw Value ( Yield ).pdf
/inst/app/Results/Blue/Untitled -- Raw Value ( Yield ).png
/inst/app/Results/Blue/Untitled -- Shapiro-Wilk normality test.csv
/inst/app/Results/Blue/UntitledAnova (random) Table.csv
/inst/app/Results/Blue/UntitledAnova table (fixed effects).csv
.Rproj.user
